body {
    font-family: 'Merriweather';
    font-size: 16px;
}

.container {
    max-width: 900px;
    margin:0 auto;
}

.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-basis-200 { flex-basis: 200px; }
.align-items-center { align-items: center; }
.align-items-end { align-items: flex-end; }
.justify-content-space-evenly { justify-content: space-evenly; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-start{ justify-content: flex-start; }
.justify-content-center{ justify-content: center; }

.np { padding: 0; }
.nm { margin: 0; }
.p4 {   padding: 4px; }
.p8 {   padding: 8px; }
.p16 {  padding: 16px; }

.pr4 {  padding-right: 4px }
.pr8 {  padding-right: 8px }
.pr16 { padding-right: 16px }

.pt4 {  padding-top: 4px }
.pt8 {  padding-top: 8px }
.pt16 { padding-top: 16px }

.pl4 {  padding-left: 4px }
.pl8 {  padding-left: 8px }
.pl16 { padding-left: 16px }

.pb4 {  padding-bottom: 4px }
.pb8 {  padding-bottom: 8px }
.pb16 { padding-bottom: 16px }

.mb4 { margin-bottom: 4px; }
.mb16 { margin-bottom: 16px; }

.mr8 { margin-right:8px; }
.mr16 { margin-right:16px; }

.large-font { font-size: 2em; }
.medium-font { font-size: 1.4em; }
.normal-font { font-size: 1em; }

.wfull { width: 100%;}
.w100 { width: 100%;}
.w300 { width: 300px;}
.h200 { height: 200px;}

.btn {
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.bg-violet {
    background-color: #8b5cf6;
}
.bg-gray {
    background-color: #f5f1fe;
}
.text-white {
    color:#fff;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
